/*.CSS should be used on complex css pages or pages commonly changed. All classnames should be specific to avoid css collisions and side effects. 
All of the .CSS pages are linked so a classname on one page can affect another if its the same. For regular pages consider styled components */

.about-title {
    color: #63A583;
    text-align: center;
}

.about-paragraph {
    font-weight: 300px;
    font-size: 28px;
}

.swing-graphic {
    float: right;
}
