/*.CSS should be used on complex css pages or pages commonly changed. All classnames should be specific to avoid css collisions and side effects. 
All of the .CSS pages are linked so a classname on one page can affect another if its the same. For regular pages consider styled components */

.content-container {
    height: 1400px;
}

.jumbotron-container {
    display: flex;
    height: fit-content;
    justify-content: center;
}

.jumbotron {
    background-color: white;
    border-radius: 10px;
    margin: 80px;
    padding: 40px;
    width: 60%;
}

.jumbotron h1 {
    color: #63A583;
}

.jumbotron hr {
    border: 1px #C4C4C4 solid;
    border-width: thin;
}

.jumbotron p {
    color: #97CDB1;
    padding: 5px;
}

.jumbotron button {
    background-color: #63A583;
    border-radius: 10px;
    border: none;
    padding: 10px 60px 10px 60px;
}

.jumbotron-link{
    color: white;
    text-decoration: none;
}

.blob-container {
    height: 0;
}

.blob {
    bottom: 8.75rem;
    position: relative;
    z-index: -1;
}

.circle-container{
    height: 0;
}

.white-circle {
    position: relative;
    right: 22rem;
    top: 5rem;
    z-index: 1;
}

.green-circle {
    position: relative;
    right: 5rem;
    top: 20rem;
    z-index: 0;
}
.form-container {
    height:0;
    width: 25%;
}

.signup-form {
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    left: 63rem;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.label {
    color: #63A583;
    font-size: 24px;
}

/*Styles both the login and sign up form*/
.input-box {
    border-radius: 10px;
    border: 1px #63A583 solid;
    height: 38px;
    margin: 10px;
    width: 80%;
    padding: 10px;
}

/*Styles both the login and sign up form*/
.form-btn {
    background-color: #63A583;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 20px;
    padding: 10px 30px 10px 30px;
}

.google-hr {
    border: 1px #63A583 solid;
    width: 65%; 
}

.google-btn {
    background-color: white;
    border-radius: 10px;
    border: 1px #63A583 solid;
    color: #63A583;
    margin: 10px;
    padding: 10px 60px 10px 60px;
}

.google-btn span{
    position: relative;
    bottom: 0.4rem;
    padding: 8px;
}

.quote-container {
    height: 0;
    width: 23%;
}

.quote {
    background-color: #4477DC;
    border-radius: 10px;
    color: white;
    left: 63rem;
    padding: 10px;
    position: relative;
    top: 50rem;
}